<form [formGroup]="fg" (ngSubmit)="handleSubmitAction()">
  <ng-container>
    <input-field label="Nom d'utilisateur" formControlName="username">

    </input-field>
    <input-field label="Mots de passe" formControlName="password" type="password">

    </input-field>
    <input-field label="Verification du mots de passe" formControlName="verifPassword" type="password">
      <div class="error" *ngIf="!fg.valid && fg.getError('same')">
        Les champs ne correspondent pas
      </div>
    </input-field>
  </ng-container>
  <ng-container formGroupName="address">
    <div class="row">
      <input-field class="col s3" label="Rue" formControlName="street"></input-field>
      <input-field class="col s3" label="Boite" formControlName="bte"></input-field>
      <input-field class="col s3" label="Ville" formControlName="city"></input-field>
      <input-field class="col s3" label="Pays" formControlName="country"></input-field>
    </div>
  </ng-container>
  <button type="submit">S'enregistrer</button>
</form>
