<form [formGroup]="fg" (ngSubmit)="handleSubmitAction()">
  <input-field label="Nom d'utilisateur" formControlName="username">
    <div class="error" *ngIf="fg.get('username').hasError('required')">Le champ est obligatoire</div>
  </input-field>
  <input-field label="Mots de passe" type="password" formControlName="password">
    <div class="error" *ngIf="fg.get('password').hasError('required')">Le champ est obligatoire</div>
    <div class="error" *ngIf="fg.get('password').hasError('minlength')">La taille du mots de passe doit être d'au moins 5 caractères</div>
    <div class="error" *ngIf="fg.get('password').hasError('pattern')">Le mots de passe ne peut pas commencer par un espace</div>
  </input-field>
  <button class="btn" type="submit">Se connecter</button>
</form>
