<!--<ul>-->
<!--  <li *ngFor="let subject of subjects$ | async">{{ subject.title }}</li>-->
<!--</ul>-->
<table class="table striped centered responsive-table">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Createur</th>
    <th>Keywords</th>
    <th>Créer le</th>
    <th>Mise à jour le</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subject of subjects$ | async">
    <td>{{ subject.title }}</td>
    <td>{{ subject.user?.username }}</td>
    <td>{{ subject.keywordsStr }}</td>
    <td>{{ subject.createAt }}</td>
    <td>{{ subject.updateAt }}</td>
    <td>
      <a [routerLink]="['..', subject.id]" class="btn waves-effect waves-light">
        <i class="material-icons right">edit</i>
        Edition
      </a>
      <a *ngIf="hasRoles('ROLE_ADMIN')" class="btn waves-effect waves-light" (click)="remove(subject.id)">
        <i class="material-icons right">delete</i>
        Supprimer
      </a>
    </td>
  </tr>
  </tbody>
</table>
