<div class="input-field">
  <label [for]="id">{{ label }}</label>
  <input mInput [id]="id" [type]="type" [ngModel]="value" [disabled]="disabled" (ngModelChange)="onChange($event)">
  <ng-content></ng-content>
</div>
