<header>
  <ul class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <img class="responsive-img" src="https://logos-download.com/wp-content/uploads/2016/02/WOW_logo.png">
      </div>
    </li>
    <ng-container *ngIf="user$|async as user;then inMenu; else outMenu"></ng-container>
    <ng-template #inMenu let-user="user">
      <li>{{ user |json }}</li>
      <li (click)="signOutAction()"><a routerLink="">Se déconnecter</a></li>
      <li><a routerLink="/subjects/list">Sujets</a></li>
      <li><a routerLink="/subjects/1">Sujet 1</a></li>
    </ng-template>
    <ng-template #outMenu>
      <li><a routerLink="/sign-in">Se connecter</a></li>
      <li><a routerLink="/register">S'enregistrer</a></li>
    </ng-template>
  </ul>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
